label {
    display: inline-block;
    width: 100px; 
    vertical-align: middle; 
    
  }
  
  input {
    display: inline-block;
    width: 200px; 
    vertical-align: text-top;  
    border: 2px solid rgb(116, 247, 104);
    border-radius: 4px;
    font-weight: bold;
    background-color: transparent;
    padding: 8px 12px;
  }

  body {
    background-image: url("trab3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .input-container {
    display: flex;
    align-items: center;
  }

  .info-button {
    background-color: rgba(247, 247, 247, 0.918);
    border: none;
    color: #00ff6a9f;
    cursor: pointer;
    font-weight: bold;
    margin-left: 350px;
    border-radius: 5px;
    position: relative;
    top: -25px;
    left: 3px;
  
 }

  .input-wrapper {
    display: flex;
    align-items: center;
  }

  button{
    border-radius: 5px;
    color: black;
    background-color: rgb(255, 255, 255);
  }